.p-text {
    font: 400 16px/26px "open-sans Regular";
    color: #444444;
}

.text-img-content {
    position: absolute;
    width: 30%;
}

.text-img-content-1 {
    margin: auto;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    padding: 30px 0;
}

.text-img-content-2 {
    margin: 330px 50px;
}

.text-img-content-3 {
    margin: 330px 50px;
    right: 0;
}

.text-img-content p {
    font: 600 46px/50px "open-sans Regular";
    color: #444444;
}

.classify .wpb-wrapper img:hover {
    transform: scale(1.3) rotate(15deg);
    /* transition: all .10s ease-in-out; */
    /* transition-delay: 250ms; */
    transition-property: all;
    /* filter: contrast(200%); */
    filter: grayscale(80%);
}

@media (max-width:425px) {
    .img-classify {
        height: 300px !important;
    }
    .text-img-content {
        width: 105px;
    }
    .text-img-content p {
        font: 400 14px/22px "open-sans Regular";
    }
    .text-img-content-2 {
        margin: 138px 10px;
    }
    .text-img-content-3 {
        margin: 138px 10px;
        right: 0;
    }
    .text-img-content-1 {
        padding: 15px 0;
    }
}

@media (max-width:768px) and (min-width:426px) {
    .img-classify {
        height: 400px !important;
    }
    .text-img-content p {
        font: 400 24px/34px "open-sans Regular";
    }
    .text-img-content-2 {
        margin: 184px 25px;
    }
    .text-img-content-3 {
        margin: 184px 25px;
    }
}

@media (max-width:1024px) and (min-width:769px) {
    .text-img-content p {
        font: 500 41px/56px "open-sans Regular";
    }
}