#header{
    background: #FFF;
    height: 80px;
    border-bottom: 1px solid #F1F1F1;
    z-index: 99;
    transition: height 0.3s ease;
    -moz-transition: height 0.3s ease;
    -webkit-transition: height 0.3s ease;
    border-bottom-color: #024f00;
    border-top: none;
}
.mgreen-logo{
    width:10%;
    float:left;
    padding: 10px 0;
    background:transparent;
    position: relative;
}
nav .mgreen-menu{
    width: 90%;
    position: relative;
    background: #fff;
    float: right;
    margin: 0 auto;
    padding-right: 25px;
    padding-top: 23px;
}
nav .mgreen-menu ul{
    list-style: none;
    text-align: end;
    
}
nav .mgreen-menu ul li{
    display:inline-block;
}
nav .mgreen-menu ul li a{
    display: block;
    padding: 0 10px;
    text-decoration: none;
    color:#444444;
    font: "open-sans Regular"  400 ;
    text-transform: uppercase;
    margin:0 3px;
    padding-bottom: 10px;
}
nav .mgreen-menu ul li a,nav .mgreen-menu ul li a:after,nav .mgreen-menu ul li a:before{
    transition: all .5s;
}
nav .mgreen-menu ul li a:hover{
    color:#039b46;
}
nav .mgreen-menu ul li a{
    position: relative;
    cursor: pointer;
}
nav .mgreen-menu ul li a:after{
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;
    width:0%;
    content:'.';
    color:transparent;
    background: #aaa;
    height:1px;
}
nav .mgreen-menu ul li a:hover:after{
    width:100%;
}
nav .mgreen-menu ul li a.download{
    border:1px solid #039b46; 
    padding-top:11px;
    border-radius: 25px;
}
nav .mgreen-menu ul li a.download:hover{
    border:none;
}
nav .mgreen-menu ul li ul.sub-menu{
    display:none;
 
 
}
.menu-style {

    height: 100vh;
    width: 200px;
    position: fixed;
    }
nav .mgreen-menu ul li ul.sub-menu li a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
} 
nav .mgreen-menu ul li:hover .sub-menu{
display: block;
transition: ease all .3s;
position: absolute;
top: 60%;
background: #FFF;
min-width: 200px;
z-index: 999;
padding: 8px;
margin-top: 27px;
border-top: 2px solid #FFC107;
box-shadow: 2px 2px 8px rgba(0,0,0,0.05);
}
.menu-mobile{
    width: 256px;
    display: none;
}
.menu-mobile .ht-menu ul{
    width: 100vw;
    position: absolute;
    right: -10px;
    top: 80px;
    background: #fff;
    display: grid;
    justify-items: center;
    padding: 10px 0;
    border: 9px solid #039b46;
}
.menu-mobile .ht-menu ul li {
    margin: 5px 0;
    list-style: none;
}
.menu-mobile .ht-menu ul li a{
    color: #000;
    text-decoration: none;
    list-style: none;
}
.ht-menu.isShow{
    display: none;
    background: #444444;
    -webkit-animation-name: lightSpeedIn;
    animation-name: lightSpeedIn;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    visibility: visible;
  opacity: 1;
}
@keyframes lightSpeedIn {
    from {
      -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
      transform: translate3d(100%, 0, 0) skewX(-30deg);
      opacity: 0;
    }
  
    60% {
      -webkit-transform: skewX(20deg);
      transform: skewX(20deg);
      opacity: 1;
    }
  
    80% {
      -webkit-transform: skewX(-5deg);
      transform: skewX(-5deg);
      opacity: 1;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  @-webkit-keyframes lightSpeedIn {
    from {
      -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
      transform: translate3d(100%, 0, 0) skewX(-30deg);
      opacity: 0;
    }
  
    60% {
      -webkit-transform: skewX(20deg);
      transform: skewX(20deg);
      opacity: 1;
    }
  
    80% {
      -webkit-transform: skewX(-5deg);
      transform: skewX(-5deg);
      opacity: 1;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
.img-modal{
   
     cursor: pointer;
      height: '70px';
       width: 150px;
       margin:0 43px;
}
.modal-dialog {
    padding: 357px 0;
    border-radius: 50px;
}
.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    text-align: center;
    padding: 0 170px;
    font: 700 24px/32px "Poppins";
    color: #039b46;
}
@media (max-width:768px)
{
    .menu-mobile{
        display: block;
        position: absolute;
        z-index:9999;
       right:10px;
    }
    .mgreen-menu{
        display: none;
    }
    .toggle-bar{
        display: block;
        position: absolute;
        top: 22px;
        right: 20px;
        height: 50px;
        width: 50px;
        background: #FFC107;
        cursor: pointer;
        background: #024f00;
        border-radius:15px;
    }
    .toggle-bar span{
  
      position: absolute;
      top: 47%;
      margin-top: -2px;

      height: 6px;
      left: 12px;
      right: 5px;
      background: #FFF;
      -webkit-box-shadow: 0 10px 0 0 #FFF, 0 -10px 0 0 #FFF;
      box-shadow: 0 10px 0 0 #FFF, 0 -10px 0 0 #FFF;
    }
}
@media (max-width:1024px){
    nav .mgreen-menu ul {
        padding-left: 0px;
    }
    nav .mgreen-menu ul li {

        margin: 0 -8px;

    }
}