#header {
  background: #FFF;
  height: 115px;
  border-bottom: 1px solid #F1F1F1;
  z-index: 99;
  transition: height 0.3s ease;
  -moz-transition: height 0.3s ease;
  -webkit-transition: height 0.3s ease;
  border-bottom-color: #024f00;
  border-top: none;
  padding: 0 75px;
  position: relative;
}

button.btn.btn-outline-success {
  /* border: 3px solid; */
  background: transparent;
  /* height: 78px; */
  margin: 16px 0;
  font: 700px 25px/32px "Poppins";
}

.mgreen-logo {
  width: 10%;
  float: left;
  padding: 23px 0;
  background: transparent;
  position: relative;
}

img.mgreen-logo-link:hover {
  transform: scale(1) rotate(4deg);
}

nav .mgreen-menu {
  /* width: 94%; */
  width: 90%;
  position: relative;
  background: #fff;
  float: right;
  margin: 0 auto;
  padding-right: 25px;
  padding-top: 5px;
}

nav .mgreen-menu ul {
  list-style: none;
  text-align: center;
  margin-bottom: 5px;
}

nav .mgreen-menu li {
  display: block;
  transition-duration: 0.5s;
}

nav .mgreen-menu ul li {
  display: inline-block;
  padding: 0 6px;
  transition-duration: 0.5s;
}

nav .mgreen-menu ul li a {
  display: block;
  text-decoration: none;
  color: #444444;
  text-transform: uppercase;
  margin: 0 2px;
  padding-bottom: 13px;
}

nav .mgreen-menu ul li a,
nav .mgreen-menu ul li a:after,
nav .mgreen-menu ul li a:before {
  transition: all .5s;
}

nav .mgreen-menu ul li a:hover {
  color: #039b46;
}

nav .mgreen-menu ul li a {
  position: relative;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
}

nav .mgreen-menu ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}

nav .mgreen-menu ul li a:hover:after {
  width: 100%;
}

nav .mgreen-menu ul li a.download {
  padding-top: 11px;
  border-radius: 25px;
  background: transparent;
  padding: 10px 10px;
  animation: color-me-in 4s 1s infinite;
  filter: brightness(1.5);
}

@keyframes color-me-in {
  0% {
    background: transparent;
  }
  /* Adding a step in the middle */
  50% {
    background: #039b46;
  }
  100% {
    background: #1CA558;
  }
}

nav .mgreen-menu ul li a.download:hover {
  border: none;
  color: #323232;
}

nav .mgreen-menu ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  /* margin-top: 1rem; */
  /* left: 0; */
  display: none;
}

.menu-style {
  height: 100vh;
  width: 200px;
  position: fixed;
}

/* nav .mgreen-menu ul li ul.sub-menu li a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  width: 100%;
  clear: both;
} */

nav .mgreen-menu ul li:hover>ul,
nav.mgreen-menu ul li ul.sub-menu:hover {
  /* transition: ease all .3s; */
  background: #FFF;
  /* min-width: 200px; */
  /* width: 200px; */
  padding: 0 0;
  width: auto;
  z-index: 999;
  border-top: 2px solid #FFC107;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05);
  visibility: visible;
  opacity: 1;
  display: block;
}

nav .mgreen-menu ul li ul li {
  clear: both;
  width: 100%;
  text-align: center;
  padding: 0 -10px;
  /* margin: 0 -10px; */
}

.menu-mobile {
  width: 70vw;
  display: none;
}

.menu-mobile .ht-menu ul {
  width: 100vw;
  position: absolute;
  right: -10px;
  top: 80px;
  background: #fff;
  display: grid;
  justify-items: center;
  padding: 10px 0;
  border: 9px solid #039b46;
}

.menu-mobile .ht-menu ul li {
  margin: 5px 0;
  list-style: none;
}

.menu-mobile .ht-menu ul li a {
  color: #000;
  text-decoration: none;
  list-style: none;
}

.ht-menu.isShow {
  display: none;
  background: #444444;
  -webkit-animation-name: lightSpeedIn;
  animation-name: lightSpeedIn;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  visibility: visible;
  opacity: 1;
}

@keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.img-modal {
  cursor: pointer;
  height: '70px';
  width: 233px;
  padding: 0 25px;
}

.modal-dialog {
  padding: 60px 0;
  border-radius: 50px;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  text-align: center;
  padding: 0 170px;
  font: 700 24px/32px "Poppins";
  color: #039b46;
}

.login-signUp {
  margin-right: -28px;
}

.signUp {
  cursor: pointer;
  border-bottom: 1px solid #fff;
  padding: 5px;
  margin-right: 10px;
}

.login {
  cursor: pointer;
  margin-left: -4px;
  border-top: 1px solid #fff;
  padding: 5px;
}

a.btn-facebook:hover,
a.btn-facebook:focus {
  border-color: #4568b2;
  border-bottom-color: #2d4575;
  background-color: #4568b2;
  color: #fff;
}

a.btn-facebook {
  width: 100%;
  display: block;
  background: #2d4575;
  padding: 20px 0;
  text-transform: capitalize;
  color: #fff;
  position: relative;
  border: 1px solid #4568b2;
  cursor: pointer;
  text-decoration: none;
}

span.text-container-facebook {
  padding-left: 30%;
  color: #fff;
}

span.icon-container {
  color: #fff;
  padding-left: 4%;
  position: absolute;
  font-size: 30px;
  top: 9px;
}

a.btn-google {
  width: 100%;
  display: block;
  background: transparent;
  padding: 20px 0;
  margin-top: 9px;
  text-transform: capitalize;
  color: #fff;
  position: relative;
  cursor: pointer;
  border: 1px solid #b7b7b7;
  text-decoration: none;
}

span.icon-container-google {
  color: #dd4b39;
  padding-left: 4%;
  font-size: 30px;
  top: 9px;
  position: absolute;
}

span.text-container-google {
  color: #666666;
  padding-left: 33%;
}

span.text-container-google:hover {
  color: #000;
}

.signup-or-separator {
  background: 0;
  height: 23px;
  position: relative;
  text-align: center;
  top: 1%;
  padding-top: 9px;
  margin-bottom: 36px;
}

span.signup-or-separator--text {
  background-color: #fff;
  display: inline-block;
  padding: 10px;
  position: absolute;
  top: 5px;
  margin-left: -20px;
}

.text-center.cz-color-2696481 {
  position: relative;
  margin-top: 21px;
  width: 100%;
  background-color: #f4511e;
  border-color: #f4511e;
  padding: 19px;
  border-radius: 3px;
}

a.btn-email {
  position: relative;
  padding-top: 50p;
  width: 100%;
  display: block;
  margin-top: 30px;
  background-color: #f4511e;
  padding: 15px;
  border-color: #f4511e;
  border-radius: 3px;
  cursor: pointer;
}

a.btn-email:hover {
  background: #000;
}

i.fas.fa-envelope {
  position: absolute;
  color: #fff;
  font-size: 30px;
  left: 22px;
}

.signup-footer {
  display: table;
  content: "";
  width: 100%;
}

.signup-footer span {
  float: left;
  padding: 8px 0px;
  color: #777;
}

a.modal-link.link-to-login-in-signup {
  float: right;
  padding: 8px 10px;
  border: 1px solid #f2594b;
  border-radius: 3px;
  color: #f2594b;
  text-decoration: none;
  cursor: pointer;
}

a.modal-link.link-to-login-in-signup:hover {
  background-color: #aaa;
  border-color: #181d23;
  color: #fff;
}

span.text-center {
  /* width: 100%;
  display: block;
  text-transform: uppercase; */
  font: 700 24px/22px "Poppins";
  position: absolute;
  margin: 0 auto;
  left: 0;
  bottom: 0;
  right: 0;
  top: 10px;
}

span.signUp-mb {
  padding: 10px;
  margin-right: -1px;
  color: #040;
  text-transform: uppercase;
  font: 700 18px/22px "Poppins";
  margin-left: 57px;
}

span.login-mb {
  position: absolute;
  margin: 0 auto;
  left: 0;
  bottom: 0;
  right: 0;
  color: #040;
  text-transform: uppercase;
  font: 700 18px/22px "Poppins";
}

.signUp-mb {
  border-bottom: 1px solid #000;
}

.signUp-mb:hover {
  color: #7f4b4b;
}

.login-mb:hover {
  color: #7f4b4b;
}

.login-mb {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
}

.login-signUp-mobile {
  display: none;
}

button.kep-login-facebook.metro {
  padding: 0;
  background: transparent;
  border: none;
  text-transform: capitalize;
  padding-left: 32%;
}

button.text-container-google {
  background: transparent;
  border: none;
  padding-left: 33%;
  color: #777;
  cursor: pointer;
}

button.text-container-google:hover {
  color: #000;
}

.anticon {
  position: absolute;
  right: 0;
  font-size: 51px;
  color: green;
  top: 10px;
}

@media (max-width:768px) {
  .menu-mobile {
    display: block;
    position: absolute;
    z-index: 9999;
    right: 10px;
  }
  .mgreen-menu {
    display: none;
  }
  .mgreen-logo {
    padding: 10px 0;
  }
  #header {
    height: 80px;
  }
}

@media (max-width:1024px) {
  nav .mgreen-menu ul {
    padding-left: 0px;
  }
  nav .mgreen-menu ul li {
    margin: 0 -18px;
    font-size: 10pt;
    padding: 0 18px;
  }
  #header {
    padding: 0 30px;
  }
  nav .mgreen-menu ul li a {
    margin: 0 0px;
    padding: 0 3px;
  }
}

.mr-6 {
  margin-right: 6px;
  font-size: 20px;
}

span.p-accountkit {
  background: transparent;
  color: crimson;
  font: 700 18px/22px "Poppins";
  border: none;
  /* position: absolute; */
  margin: 0 auto;
  right: 0;
  padding: 0 109px;
  /* left: 0; */
  /* bottom: 0; */
  /* height: 29px; */
  /* top: 0; */
}

span.p-accountkit:hover {
  color: slateblue;
}

a.btn-google.btn-accountkit {
  /* height: 42px; */
  padding: 20px 0;
}