.introduce .text-theme-green {
    text-transform: uppercase;
    font: 300 26px/31px "open-sans Regular";
    color: #01c358;
}

.img-text-content p:hover {
    transform: perspective(500px);
    filter: brightness(1.5);
    transition: all 1s ease-in;
}

.img-introduce {
    border-radius: 220px;
    width: 100%;
    margin: 0;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
}

.img-introduce2 img {
    width: 100vw;
    height: 500px;
}

.p-text {
    color: #444444;
    font-size: 18px;
}

.p-content {
    font-size: 20px;
    color: #444444;
}

.img-text-content {
    width: 70%;
    height: 270px;
    border: 4px solid #ffffff;
    border-radius: 10px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 470px;
    bottom: 0;
}

.img-text-content img {
    position: relative;
}

.img-text-content img:hover {
    /* filter: brightness(1.5); */
    filter: contrast(200%);
}

.img-text-content p {
    text-align: center;
    text-transform: uppercase;
    color: #01C2F5;
    font: 500 52px/60px 'Gaegu', cursive;
    opacity: 1;
    padding: 60px 0;
}

.img-text-content p:hover {
    filter: contrast(200%);
    color: #01c358;
    transition: all .5s ease;
}

@media (max-width: 768px) and (min-width:426px) {
    .img-text-content p {
        font: 400 42px/45px 'Gaegu', cursive;
        padding: 40px 0;
    }
    .img-text-content {
        height: 230px;
    }
}

@media (max-width: 425px) {
    .img-text-content {
        height: 130px;
        top: 254px;
    }
    .img-text-content p {
        padding: 20px 0;
    }
}

@media (max-width: 425px) and (min-width:376px) {
    .img-introduce2 img {
        height: 256px;
    }
    .img-text-content p {
        font: 500 24px/19px 'Gaegu', cursive;
    }
}

@media (max-width:375px) {
    .img-text-content p {
        font: 500 19px/14px 'Gaegu', cursive;
    }
    .img-introduce2 img {
        -webkit-filter: brightness(1.5);
        filter: brightness(1.5);
        cursor: pointer;
        height: 240px;
        width: 100vw;
    }
}

@media (max-width:1024px) and (min-width:769px) {
    .img-introduce2 img {
        height: 435px;
    }
}