.news-content {
    height: 350px;
    width: auto;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin: 10px 69px;
    padding: 10px 20px;
    -webkit-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.5);
}

.new {
    overflow-y: scroll;
    height: 1000px;
}

.news-text-content {
    position: initial;
    overflow-x: hidden;
}

.news-content img {
    /* width: 375px; */
    background-size: cover;
    backdrop-filter: blur(5px) contrast(.8);
    /* height: 340px; */
    cursor: pointer;
    margin-right: 15px;
}

@media (max-width:425px) {
    .news-content {
        height: 270px;
        margin: 10px 20px;
    }
    .news-text-content h1 {
        font-size: 12px;
        overflow-x: scroll;
    }
    .news-text-content p {
        height: 100px;
        overflow-y: scroll;
    }
    .news-content img {
        width: 146px;
        height: 203px;
        cursor: pointer;
        margin-right: 15px;
    }
}