.slide {
    border-bottom: 1px solid #000;
    padding: 0px;
    border-width: 0px;
    z-index: -3;
}

.slide-content {
    padding: 0 80px;
    position: relative;
}

.slide img {
    /* filter: brightness(1.5); */
    cursor: pointer;
    height: 480px;
    width: 100vw;
}

.slick-slider {
    position: inherit;
    display: block;
}

.text-title-1 {
    font: 600 34px/51px "Open Sans";
    color: #ffffff;
    position: absolute;
    z-index: 9;
    text-transform: uppercase;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 20px 0;
}

.text-content {
    font: 400 20px/20px "Open Sans";
    color: #ffffff;
    position: absolute;
    text-transform: capitalize;
    z-index: 9;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 220px 0;
}

.text-content .btn-mgreen {
    width: 300px;
    height: 50px;
    /* position: absolute; */
    text-transform: uppercase;
    font: 400 14px/21px "open-sans Regular";
    margin: 40px 0 20px 0;
    z-index: 9999;
}

.text-title-2 {
    position: absolute;
    z-index: 9999;
    color: #ffffff;
    text-align: left;
    width: 500px;
    margin: 80px 160px;
    padding: 60px 0;
}

.text-title-2 .p-title-slide {
    font: 400 45px/68px "Open Sans";
    text-transform: uppercase;
}

.text-title-2 .p-content-slide {
    font: 400 18px/27px "Open Sans";
    text-transform: none;
    padding: 10px 0;
}

button.btn-download.btn.btn-secondary {
    padding-top: 11px;
    border-radius: 10px;
    background: transparent;
    padding: 15px 30px;
    animation: color-me-download 2s 5ms infinite;
    filter: brightness(1.5);
    border: none;
}

@keyframes color-me-download {
    0% {
        background: transparent;
    }
    50% {
        background: #3986bd;
    }
    100% {
        background: #2388d1;
    }
}

button.btn-outmore.btn.btn-secondary {
    padding-top: 11px;
    border-radius: 10px;
    background: transparent;
    padding: 15px 35px;
    animation: color-me-outmore 2s 5ms infinite;
    filter: brightness(1.5);
    border: none;
}

@keyframes color-me-outmore {
    0% {
        background: transparent;
    }
    50% {
        background: #2a2c48;
    }
    100% {
        background: #383a59;
    }
}

@media (max-width:425px) {
    .slide img {
        height: 250px !important;
    }
    .text-title-1 {
        font: 600 14px/21px "Open Sans";
        padding: 30px 0;
    }
    .slide-content {
        padding: 0 0;
    }
    .text-content {
        font: 400 12px/2px "Open Sans";
        padding: 145px 0;
        text-align: left;
    }
    button.btn-mgreen.btn.btn-success {
        width: 190px;
    }
    .text-content .btn-mgreen {
        widows: 286px;
        ;
        height: 30px;
        font: 200 8px/16px "open-sans Regular";
        margin: 0 0 20px 0;
        ;
    }
    .text-title-2 .p-title-slide {
        font: 400 22px/30px "Open Sans";
        text-transform: uppercase;
    }
    .text-title-2 {
        width: 270px;
        margin: 10px 10px;
        padding: 22px 0;
    }
    .text-title-2 .p-content-slide {
        padding: 0 0;
    }
    button.btn-download.btn.btn-secondary {
        padding: 7px 30px;
    }
    button.btn-outmore.btn.btn-secondary {
        padding: 8px 20px;
    }
}

@media (max-width:1024px) and ( min-width:769px) {
    .text-content {
        font: 500 20px/8px "Open Sans";
        padding: 250px 0;
        text-align: center;
        text-transform: capitalize;
    }
    .slide-content {
        padding: 0 8px;
    }
}