.sponsor-content {
    height: 350px;
    width: auto;
    display: -ms-flexbox;
    display: flex;
    /* border: 1px solid chocolate; */
    margin: 10px 69px;
    padding: 10px 20px;
    -webkit-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.5);
}
.sponsor{
    overflow-y: scroll;
    height:1000px;
}

.sponsor-content img {
    width: 375px;
    height: 340px;
    cursor: pointer;
    margin-right: 15px;
}

@media (max-width:425px){
    .sponsor-content{
        height:270px;
        margin: 10px 20px;
    }
    .sponsor-text-content h1{
        font-size: 12px;
    }
    .sponsor-text-content p{
        height:100px;
        overflow-y: scroll;
    }
}