body{
    margin:0;
    padding:0;
    /* font: 400 "open-sans Regular"; */
    background-color: #fff;
    overflow-x:hidden;
}

  .ant-back-top-inner {
    position: absolute;
    height: 43px;
    width: 45px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #28a745;
    color: #fff;
    text-align: center;
    font-size: 16px;
    right: -70px;
    bottom: 16px;
  }
 .ui{
  width: 100%;
  background: red;
  position: absolute;
 }
  @media (max-width:425px){
    .ant-back-top-inner{
      right: 0px;
    bottom: 24px;
    }
  }

  @media (max-width:768px) and (min-width:426px){
    .ant-back-top-inner{
      right: -45px ;
    }
  }